<footer class="max-w-screen-lg w-full mx-auto border-t-2 py-6 px-3">
  <p class="text-center">
    Build with <span class="text-red-600 text-2xl">♥</span> by <a
      href="https://github.com/labasubagia"
      class="text-blue-700">Laba Subagia</a
    >
  </p>
</footer>
